<h1>Welcome to {{appName}}</h1>
<br>
<div class="pageContent_applicationBodyHolderInner">
<h4>{{#link-to "registrants"}}
      <span class="glyphicon glyphicon-home"></span>
    {{/link-to}}
</h4>

        {{liquid-outlet}}
</div>
<br>